[
    {xoncatcher,
        [
            {irc_network, "irc.quakenet.org"},
            {irc_network_port, 6667},
            {irc_channel, "#"},
            {irc_nick, "xoncatcher"},
            {telegram_webhook_address, "https://"},
            {telegram_token_api, ""}
        ]
    },

    {kernel,
        [{logger, [{handler, default, logger_std_h, #{config => #{file => "syslog/xoncatcher.log"}, level => all}}]}]
    }
].
